@import url("https://fonts.googleapis.com/css2?family=Open+sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  font-size: 16px;
  text-decoration: none;
}
body {
  font-family: "Open-Sans", sans-serif;
}
.banner-wrap {
  background-image: url(./assets/bgimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-bottom: 10px solid #222222;
}
h1 {
  font-size: 3.2rem;
  color: white;
}
.navbar {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  margin: 0px 45px;
  padding-top: 45px;
}
.navbar > img {
  height: 32px;
}
.navbar > a {
  padding: 7px 17px;
  color: white;
  background: red;
  text-decoration: none;
  border-radius: 3px;
}
.banner-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-size: 3.125rem;
  min-width: 950px;
  max-width: 1449px
  
}
.info-container {
  background: black;
  color: white;
  display: flex;
  padding: 70px 45px;
  border-bottom: 10px solid #222222;
}
.tv-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tv-container img {
  z-index: 1;
}
.tv-container video {
  position: absolute;
}
.footer {
  background: black;
}
.footer ul li {
  color: #757575;
}
.footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.email-bar{
  position: relative;
  padding: 10px 10px ;
  border: 1pt;
  min-width: 450px;
  height: 60px;
  
}

.button{
  padding: 8px 0px ;
  border: 0px;
  min-width: 137.969;
  height: 33;
  direction: ltr;
  flex: 1 1 auto;
  background-color: red;
  color: white;
  font-family: sans-serif;
  font-size: 26px;
}